.layout {
  padding-bottom: 2rem;

  .header-main {
    border-bottom: 1px solid black;
    padding: 1rem 2rem;
    clear: both;
    overflow: auto;

    @include media($laptop) {
      padding-left: 10rem;
    }

    @include media($laptop-l) {
      padding-left: 15rem;
    }

    @include media($k4) {
      padding-left: 20rem;
    }


    a.backlink {
      float: left;
    }

    .search {
      float: right;
      width: 100%;

      @include media($mobile-l) {
        width: initial
      }
    }
  }

  main {
    margin-top: 2rem;
  }

  .page {
    height: 100%;
  }
}
